<p>
A request was received to reset the password for your account.  Please click on
the link below to complete the process:
</p>

<p>
<a href="<%= resetURL %>">Reset your password</a>
</p>

<p>
Please ignore this email if you did not request this and your password will
remain unchanged.
</p>
