<h1>Welcome</h1>

<p>Name: <%= patient.name %></p>
<% if (patient.email) {%>
<p>email: <%= patient.email %></p>
<%} else {%>
<p>email: NA</p>
<%}%>

<% if (patient.age) {%>
<p>Age: <%= patient.age %></p>
<%} else {%>
<p>Age: NA</p>
<%}%>
